$primary-font =  "Roboto", "Droid Sans", Helvetica, Arial, serif;
$secondary-font =  "Roboto Slab", "Droid Serif", Helvetica, Arial, serif;

$background = #0a0719;
$text-color = #fff;$twitter-color = #9d9d9c;

$layout-margin = 0 60px;
$mobile-layout-margin = 0 20px;

$header-height = 100px;
$mobile-header-height = 65px;

rupture.mobile-cutoff = 500px

