$primary-font =  "Roboto", Helvetica, Arial, serif;
$secondary-font =  "Roboto Slab", Helvetica, Arial, serif;

$background = #000533;
$text-color = #fff;
$twitter-color = #00aced;

$layout-margin = 0 60px;
$mobile-layout-margin = 0 20px;

$header-height = 100px;
$mobile-header-height = 65px;

rupture.mobile-cutoff = 500px

