<div class="desktop">
    <div class="left">
        <div class="moontweet">
            <a ui-sref="home">
                <span class="title">Moontweet</span>
            </a>
            <ul class="nav">
                <li><a href="#">THE MANIFEST</a></li>
                <li><a href="#">CAUSE</a></li>

            </ul>
        </div>

    </div>


    <div class="right">
        <a class="button button-rounded button-primary button-border">The Manifest</a>
    </div>
</div>

<div class="mobile">
    <div class="left">
        <div class="moontweet">
            <i class="menu-icon ion-navicon"></i>
            <span class="title">Moontweet</span>
        </div>
    </div>

    <div class="right">
        <i class="ion-navicon"></i>
    </div>
</div>

