<div class="desktop">
    <div class="left">
        <div class="moontweet">
            <strong><a ui-sref="home({a: 0})"><span class="title">M</span></a></strong>
            <!--<span class="claim">Deliver a tweet to the moon</span>-->
        </div>
    </div>

    <div class="center">

    </div>

    <div class="right">
        <a ui-sref="how" class="button button-rounded button-primary button-border">How it works</a>
    </div>
</div>

<div class="mobile">
    <div class="left">
        <div class="moontweet">
            <a ui-sref="home({a: 0})"><span class="title">M</span></a>
            <!--<span class="claim">Deliver a tweet to the moon</span>-->
        </div>
    </div>
</div>


