<div class="desktop">
    <div class="left">
        <div class="moontweet">
            <a ui-sref="home">
                <a ui-sref="home({a: 0})"><span class="title">M</span></a>
            </a>
            <!--<ul class="nav">-->
                <!--<li><a href="#">THE MANIFEST</a></li>-->
                <!--<li><a href="#">CAUSE</a></li>-->

            <!--</ul>-->
        </div>

    </div>


    <div class="right">
        <!--<a ui-sref="home({a:0})" class="button button-rounded button-twitter">Tweet</a>-->
        <a href="http://twitter.com/intent/tweet/?text=%23moondelivery" target="_blank" class="button button-rounded button-twitter">Tweet</a>
    </div>
</div>

<div class="mobile">
    <div class="left">
        <div class="moontweet">
            <a ui-sref="home({a: 0})"><span class="title">M</span></a>
        </div>
    </div>

    <div class="right">
        <a href="http://twitter.com/intent/tweet/?text=%23moondelivery" target="_blank">
            <img src="images/newtweet-m.svg">
        </a>
    </div>
</div>

