<div class="desktop">
    <div class="left">
        <div class="moontweet">
            <strong><a ui-sref="home({a: 0})"><img class="logo" src="images/logo-white.svg"></a></strong>
            <!--<span class="claim">Deliver a tweet to the moon</span>-->
        </div>
    </div>

    <div class="center">

    </div>

    <div class="right">
        <div class="nav">
            <a href="static/index.html"><span>HOW IT WORKS</span></a>
            <a href="static/about.html"><span>ABOUT</span></a>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="left">
        <div class="moontweet">
            <a ui-sref="home({a: 0})"><img class="logo" src="images/logo-white.svg"></a>
            <!--<span class="claim">Deliver a tweet to the moon</span>-->
        </div>
    </div>
</div>


