<div class="mobile-tweet-editor">
    <img class="stamp" src="images/logo-black.svg">

    <div class="text-container">
        <div class="heading">
            Planeth Earth<br>
            {{ current_date }}
        </div>
        <textarea maxlength="140" class="text" placeholder="Write a message using #moondelivery" ng-model="tweetText"></textarea>
    </div>

    <div class="footer">
        <div class="left">
            <span ng-click="closeMobileEditor()" class="cancel">Cancel</span>
        </div>

        <div class="right">
            <div>
                <span class="letter-counter">120</span>
                <a class="button button-twitter button-rounded popup" href="http://twitter.com/share?url=false&text={{ tweetText | escape }}">Tweet</a>
            </div>
        </div>
    </div>
</div>