<div class="mobile-tweet-editor">
    <img class="stamp" src="images/stamp.svg">

    <div class="text-container">
        <div class="heading">
            Planeth Earth<br>
            11 December 2015
        </div>
        <textarea class="text" placeholder="Write a message"></textarea>
    </div>

    <div class="footer">
        <div class="left">
            <span ng-click="closeMobileEditor()" class="cancel">Cancel</span>
        </div>

        <div class="right">
            <div>
                <span class="letter-counter">120</span>
                <a class="button button-rounded button-twitter">tweet</a>
            </div>
        </div>
    </div>
</div>