<div class="above">
    <div class="card">
        <img class="stamp" src="images/stamp.svg">

        <div class="text-container">
            <img class='tweet-image' src="http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/track-to-the-moon-emily-stauring.jpg">

            Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è
            considerato il testo segnaposto
        </div>

        <div class="card-footer" style="text-align: left">
            <div class="picture-container">
                <div class="author-picture" style="background-image: url('https://scontent-mxp1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11659419_10207491764078692_8779762669799688128_n.jpg?oh=ad6c37abee579718d389dc9f3c8bd6be&oe=5736F384')"></div>
            </div>

            <div class="details-container">
                <div class="details">
                    <span class="author">Andrea Alongi</span>
                    <span class="date">13 December 2015</span>
                </div>
            </div>
        </div>
    </div>
</div>