.mobile-tweet-editor {
  display: none;

  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  box-sizing: border-box;

  img.stamp {
    position: absolute;
    top: 20px;
    right: 10px;
  }


  .text-container {

    box-sizing: border-box;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    padding: 60px 30px;

    .heading {
      color: #555;
      height: 50px;
    }

    textarea.text {
      box-sizing: border-box
      padding-bottom: 100px;
      width: 100%;
      height: calc(100% - 60px - 50px)  // 100% - text-container top - heading
      border: 0;
      font-size: 1.2em;
      color: #333;
    }
  }

  .footer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 0 20px;

    .left {
      span(1/3)
      height: 100%;

      .cancel {
        align(vertical)
        color: #555;
      }

    }

    .right {
      span(2/3)
      height: 100%;
      position: relative;

      >div {
        align(vertical)
        text-align: right;
        width: 100%;

        .letter-counter {
          color: #aaa;
          margin-right: 10px;
        }
      }
    }
  }



}