#stars {
  position: absolute
  top: 0
  left: 0
}

.desktop {
  .headline {
    text-align: center;
  }

  .counter {
    margin-top: 40px;
    text-align: center;
  }

  .scroll-mouse {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
  }

  .headline {
    text-align: center;
    display: none;
    font-family: $secondary-font

    h1 {
      font-weight: 400;
    }

  }


}

.mobile {

  .headline {
    margin-top: 50px;
    h1 {
      color: white;
    }

    a {
      color: $twitter-color
    }
  }

  .footer {
    position: absolute
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;

    p {
      color: white;
    }
  }

}

.below {
  text-align: center
  height: 100vh;
  padding-top: $header-height;
  +below(m) {
    padding-top: $mobile-header-height;
  }

  p {
    color: white;
    text-transform: uppercase
  }

  a {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px
    color: $twitter-color;
  }


}

