.screen {
  padding: 0;

  .left {
    span(1/2)
    height: 100%;
    overflow-y: scroll;

    .page-box {
      box-sizing: border-box
      padding: 20px;
      height: 100%;
    }
  }

  .right {
    span(1/2)
    height: 100%;
    overflow-y: hidden;

    .slide-box {
      box-sizing: border-box
      padding: 20px;
      height: 100%;
    }
  }

}
